body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #F9F9F9;
}

section {
  margin-bottom: 8%;
}

h1 {
  font-family: "Esther";
  font-size: 100px;
}

h2 {
  font-family: "Esther";
  font-size: 32px;
}

.container {
  margin-bottom: 0;
}

.est {
  font-family: "Esther";
}

.head {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 150px;
  
}

.nav-btn {
  background-color: #362213;
  color: white;
}

.hero-txt {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 40%;
}

.hero-btn {
  background-color: white;
  color: #362213;
  border: 1px solid #362213;
}
.hero-btn:hover {
  background-color: #362213;
  color: white;
}

.items {
  text-align: center;
}

.item-img {
  position: relative;
  bottom: 25%;
  left: 0;
  width: 80%;
}
.nav-sp{
margin: 30px 60px 31px 60px  ;
size: 15px;
}
.nav-spa{
  margin: 30px 0 31px 203px ;
  size: 15px;
}
.nav-sph{
  margin: 30px 218px 31px 0;
  size: 15px;
}
.nav-contact{
  height: 52px;
width: 166px;
left: 1104px;
top: 14px;
border-radius: 0px;
padding: 15px, 24px, 15px, 24px;

}
.logo{
  height: 45.73655700683594px;
width: 57.41397476196289px;
left: 0px;
top: 0px;
border-radius: 0px;

}
.shop{
  height: 243px;
width: 1100px;
left: 170px;
top: 171px;
right:170px;
border-radius: [object Object]px;

}
.pro{
 align-items: center;
 
}

