body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #F9F9F9;
}

section {
  margin-bottom: 8%;
}

h1 {
  font-family: "Esther";
  font-size: 100px;
}

h2 {
  font-family: "Esther";
  font-size: 32px;
}

.container {
  margin-bottom: 0;
}

.est {
  font-family: "Esther";
}

.head {
  text-align: center;
  margin-bottom: 4%;
}

.nav-item1 {
  padding-right: 6rem !important;
}

.nav-item2 {
  padding: auto 3rem !important;
}

.nav-item3 {
  padding-left: 6rem !important;
}

.nav-btn {
  border-radius: 0;
  background-color: #362213;
  color: white;
  font-size: 20px;
}
.nav-btn:hover {
  color: white;
}

.hero-txt {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 40%;
}

.hero-btn {
  background-color: white;
  color: #362213;
  border: 1px solid #362213;
}
.hero-btn:hover {
  background-color: #362213;
  color: white;
}

.items {
  text-align: center;
}

.item-img {
  position: relative;
  bottom: 25%;
  left: 0;
  width: 80%;
}

.prom {
  margin-bottom: 8%;
}

.brand {
  margin-bottom: -2%;
}

.foot {
  background-color: #FCE9DB;
}